html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(#ff9224, #ff6f1f) no-repeat fixed;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
}

header h1{
    color: #ffffff;
    width: 300px;
    height: 110px;
    display: inline-block;
    background: url("book.png") no-repeat;
    background-size: 150px;
}

header h1:hover{
    /*Animation. Because I am funny*/
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: shaking-logo;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    color: #444;
    width: 20%;
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .12), 0 1px 6px rgba(0, 0, 0, .12);
    transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
    cursor: pointer;
}

.book:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, .23), 0 10px 30px rgba(0, 0, 0, .19);
}

.book-title,
.book-author,
.book-isbn{
    word-wrap:break-word;
}

.book-title{
    border-bottom: 1px #e8e8e8 solid;
    margin-top:0;
}

.book-search{
    text-align: center;
    margin-bottom: 10px;
}

.book-search .search-field{
    height: 20px;
    border: none;
    margin: 1px;
    padding: 5px;
    -webkit-appearance: none;
}

.book-search .search-field:focus,
.book-search .search-button:focus{
    outline: none;
}

.book-search .search-button{
    height: 20px;
    border: none;
    margin: 1px;
    color: #ff6f1f;
    background-color: white;
}

.book-search .search-button:hover{
    color: white;
    background-color: #444;
    cursor: pointer;
}

@keyframes shaking-logo {
    2% {
        transform: translate(0, 1.5px) rotate(1.5deg); }
    4% {
        transform: translate(0, -1.5px) rotate(-0.5deg); }
    6% {
        transform: translate(0, 1.5px) rotate(-1.5deg); }
    8% {
        transform: translate(0, -1.5px) rotate(-1.5deg); }
    10% {
        transform: translate(0, 2.5px) rotate(1.5deg); }
    12% {
        transform: translate(0, -0.5px) rotate(1.5deg); }
    14% {
        transform: translate(0, -1.5px) rotate(1.5deg); }
    16% {
        transform: translate(0, -0.5px) rotate(-1.5deg); }
    18% {
        transform: translate(0, 0.5px) rotate(-1.5deg); }
    20% {
        transform: translate(0, -1.5px) rotate(2.5deg); }
    22% {
        transform: translate(0, 0.5px) rotate(-1.5deg); }
    24% {
        transform: translate(0, 1.5px) rotate(1.5deg); }
    26% {
        transform: translate(0, 0.5px) rotate(0.5deg); }
    28% {
        transform: translate(0, 0.5px) rotate(1.5deg); }
    30% {
        transform: translate(0, -0.5px) rotate(2.5deg); }
    32% {
        transform: translate(0, 1.5px) rotate(-0.5deg); }
    34% {
        transform: translate(0, 1.5px) rotate(-0.5deg); }
    36% {
        transform: translate(0, -1.5px) rotate(2.5deg); }
    38% {
        transform: translate(0, 1.5px) rotate(-1.5deg); }
    40% {
        transform: translate(0, -0.5px) rotate(2.5deg); }
    42% {
        transform: translate(0, 2.5px) rotate(-1.5deg); }
    44% {
        transform: translate(0, 1.5px) rotate(0.5deg); }
    46% {
        transform: translate(0, -1.5px) rotate(2.5deg); }
    48% {
        transform: translate(0, -0.5px) rotate(0.5deg); }
    50% {
        transform: translate(0, 0.5px) rotate(0.5deg); }
    52% {
        transform: translate(0, 2.5px) rotate(2.5deg); }
    54% {
        transform: translate(0, -1.5px) rotate(1.5deg); }
    56% {
        transform: translate(0, 2.5px) rotate(2.5deg); }
    58% {
        transform: translate(0, 0.5px) rotate(2.5deg); }
    60% {
        transform: translate(0, 2.5px) rotate(2.5deg); }
    62% {
        transform: translate(0, -0.5px) rotate(2.5deg); }
    64% {
        transform: translate(0, -0.5px) rotate(1.5deg); }
    66% {
        transform: translate(0, 1.5px) rotate(-0.5deg); }
    68% {
        transform: translate(0, -1.5px) rotate(-0.5deg); }
    70% {
        transform: translate(0, 1.5px) rotate(0.5deg); }
    72% {
        transform: translate(0, 2.5px) rotate(1.5deg); }
    74% {
        transform: translate(0, -0.5px) rotate(0.5deg); }
    76% {
        transform: translate(0, -0.5px) rotate(2.5deg); }
    78% {
        transform: translate(0, -0.5px) rotate(1.5deg); }
    80% {
        transform: translate(0, 1.5px) rotate(1.5deg); }
    82% {
        transform: translate(0, -0.5px) rotate(0.5deg); }
    84% {
        transform: translate(0, 1.5px) rotate(2.5deg); }
    86% {
        transform: translate(0, -1.5px) rotate(-1.5deg); }
    88% {
        transform: translate(0, -0.5px) rotate(2.5deg); }
    90% {
        transform: translate(0, 2.5px) rotate(-0.5deg); }
    92% {
        transform: translate(0, 0.5px) rotate(-0.5deg); }
    94% {
        transform: translate(0, 2.5px) rotate(0.5deg); }
    96% {
        transform: translate(0, -0.5px) rotate(1.5deg); }
    98% {
        transform: translate(0, -1.5px) rotate(-0.5deg); }
    0%, 100% {
        transform: translate(0, 0) rotate(0); } }
